################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



.vs/E-MarketStore/FileContentIndex/009421c2-29ce-4d26-8b4b-9018e37cdb83.vsidx
